@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1.5s ease forwards;
}

.fade-up-delay-1 {
  animation: fadeUp 1.5s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.fade-up-delay-2 {
  animation: fadeUp 1.5s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 0.3s ease forwards;
}

@keyframes niceFadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nice-reveal {
  opacity: 0;
}

.nice-show {
  animation: niceFadeUp 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.nice-delay-1 {
  animation-delay: 0.15s;
}

.nice-delay-2 {
  animation-delay: 0.3s;
}

.nice-delay-3 {
  animation-delay: 0.45s;
}
